<include "../public/head"/>
<body class="loginbox">
    <div class="je-login"></div>
    <div class="je-logincon">
        <div class="logo"></div>
        <p class="logtext">Добро пожаловать, чтобы войти в систему управления фоном</p>
        <p class="je-pb10"><input class="userinp" type="text" id="user" placeholder="Пожалуйста, введите имя пользователя"></p>
        <p class="je-pb10"><input class="userinp" type="password" id="pass" placeholder="Пожалуйста, введите пароль"></p>
        <p class="je-pt10"><input class="userbtn" type="button" value="Войти" onclick="gosys()"></p>
    </div>
<script type="text/javascript" src="/themes/jeui/js/modules/jquery.js"></script>
<script type="text/javascript" src="/themes/jeui/js/modules/jeBox.js"></script>
<script type="text/javascript">
    function gosys() {
        var u = document.getElementById("user").value;
        var p = document.getElementById("pass").value;
        $.ajax({
            type: "POST",
            url: "loginajax",
            timeout: 60000,
            async: true,
            data: {
                "username":u,
                "password":p
            },
            success: function(data, textStatus) {  
                if(data.ret == 0)
                    jeBox.alert(data.message);
                else
                    window.location.href = "list"
            }
        });
        
    }
</script>
</body>
</html>
